<div class="contenedor">
    <h1>CONTADOR</h1>
  <div class="contador">
    <h1>{{kont}}</h1>
  </div>
  <div class="botones">
    <button (click)="kontGora100()">+100</button>
    <button (click)="kontGora50()">+50</button>
    <button (click)="kontGora25()">+25</button>
    <button (click)="kontGora10()">+10</button>
    <button (click)="kontGora5()">+5</button>
    <button (click)="kontGora1()">+1</button>
    <button (click)="reset()">Resetear</button>
    <button (click)="kontBehera1()">-1</button>
    <button (click)="kontBehera25()">-25</button>
    <button (click)="kontBehera10()">-10</button>
    <button (click)="kontBehera25()">-25</button>
    <button (click)="kontBehera50()">-50</button>
    <button (click)="kontBehera100()">-100</button>
  </div>
</div>
