#contenedor{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items:center;
}
#dados{
  display:flex;
  flex-direction: row;
  justify-content:center;
  gap:25px;
  margin-top:20px;
}
#dado{
  width:200px;
}
button{
  margin:20px;
  width:660px;
}
